/* Cores da página */
:root {
    --color-one:#212343;
    --color-two:#ffff;
    --color-tree:#979595;
    --color-four:rgba(0,0,0,0.1);
    --color-five:#7c7c7c;
    --color-six:#363a6d;
    --color-seven:#523cb6;
    --color-eight:#2a2d5a;
    --color-nine:rgba(33,35,67,0.7);
    --color-ten:rgba(0, 0, 0, 0.3);
    --color-eleven:rgba(120,120,120,0.5);
    --color-twelve:#e7e7e7;
    --color-thirteen:#888888;
    
}
/*****/