/* Media Queries */
@media screen and (max-width:1063px) {
    .header {
        height:auto;
        padding: 8px 0;
        text-align: center;
        
    }

    .header .center a img {
        width: 200px;
        margin:0;
    }

    .container-list {
        float:left;
        width:45%;
        max-width: 500px;
        height:auto;
        padding:30px 0;
        text-align: center;
       
    }

    .container-list ul {
      text-align:center;
      list-style-type: none;
      margin-top:30px;
    }

    .container-list ul li {
        margin-top:18px;
        font-size:12px;
        max-width: 280px;
        line-height:24px;
        margin:0 auto;
        font-family: sans-serif;
    }

    .container-list ul li:nth-child(1) {
        margin-bottom:10px;
    }

    .container-list ul li:nth-child(2) {
        margin-bottom:10px;
    }

    .container-banner {
        height:auto;
        padding: 40px 2%;
        text-align:center;
    }

    .form {
        width:60%;
        max-width: 400px;
        height:100%;
        float:right;
        position:relative;
        top:0;
        padding:15px;
        
    }

    .input-container input[type=text] {
        width:100%;
        height:55px;
       
    }


    .submit-center {
        text-align:center;
    }

    input[type=submit] {
        width:100%;
        max-width: 280px;
        height:56px;
    }

    
    section.session-one .center  > .text-about {
        width:100%;
        max-width: 350px;
        line-height:28px;
    }

}

@media screen and (max-width:776px){
     .container-list {
        width: 95%;
        float:none;
        margin-top:0;
        display:inline-block;
     }

    .container-list ul li {
        max-width: 300px;
      
    }

     .form {
        width:95%;
        height:100%;
        float:none;
        display:inline-block;
        margin-top: 30px;
      
    }

    .form h2 {
      font-size:18px;
      text-align: left;
    }

    .single {
        width:100%;
        float:none;
        display:inline-block;
        padding: 30px 0;
        max-width: 600px;
    }

    
    .text-single p {
        line-height:28px;
        max-width:350px;
        padding:0;
        margin:20px auto;
    }

    .text-single > h2 {
       font-size:18px;
    }

    footer .center {
        text-align: center;
    }

    .social {
      float:none;
      margin-bottom:20px;
    }

    .text-footer {
       float:none;
    }
}

@media screen and (max-width:380px) {
    section.session-one .center  > .text-about {
        max-width: 320px;
    }

    .text-single > h2 {
       font-size:15px;
    }

     .text-single p {
        line-height:28px;
        max-width:300px;
        padding:0;
        margin:20px auto;
    }

   

}
/*****/